<section [@fadeIn] class="experience-section">
  <h2 class="section-title">Work Experience</h2>

  @for (job of experiences; track job.role) {
  <article class="experience-card">
    <header>
      <h3 class="job-title">
        {{ job.role }} <span class="company">&#64; {{ job.company }}</span>
      </h3>
      <time class="job-duration">{{ job.duration }}</time>
    </header>

    <ul class="job-description">
      @for (line of job.description; track line) {
      <li>{{ line }}</li>
      }
    </ul>

    <p class="tech-stack">
      <strong>Tech Stack:</strong> {{ job.stack.join(', ') }}
    </p>
  </article>
  }
</section>

<section class="experience-section education" [@fadeIn]>
  <h2 class="section-title">Education</h2>

  @for (edu of education; track edu.school) {
  <article class="experience-card">
    <header>
      <h3 class="job-title">
        {{ edu.school }}
        <span class="company">
          @if (edu.degree) {
          {{ edu.degree }}
          } @else if (edu.program) {
          {{ edu.program }}
          }
        </span>
      </h3>
      <time class="job-duration">{{ edu.duration }}</time>
    </header>

    <ul class="job-description">
      @for (item of edu.achievements; track item) {
      <li>{{ item }}</li>
      }
    </ul>
  </article>
  }
</section>
